In [13]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import CountVectorizer

In [14]:
#upload the dataset
df = pd.read_csv("sentiment.csv")

In [4]:
df.sample(10)

,Unnamed: 0,polarity,id,date,query,user,tweet
3848,880708,positive,1685677926,Sun May 03 01:31:14 PDT 2009,NO_QUERY,thereserogers,"We found an apartment, whoo hoo!!"
4060,1041208,positive,1957051197,Thu May 28 23:22:55 PDT 2009,NO_QUERY,Bandworker,@bobbydeyoe i am doing great. lol Thank you. Y...
1047,1328334,positive,2015502950,Wed Jun 03 04:50:09 PDT 2009,NO_QUERY,RonTaylorNL,"Newfoundland spring morning, walking around Qu..."
1727,96091,negative,1792473817,Wed May 13 23:14:36 PDT 2009,NO_QUERY,Gailporter,@Mike_Fountain stress.
3800,191872,negative,1969733421,Sat May 30 01:01:48 PDT 2009,NO_QUERY,BreeSymone,"i got stuck on an interesting phone call, i se..."
1614,878938,positive,1685346186,Sun May 03 00:00:10 PDT 2009,NO_QUERY,LittleYellowJen,@BrianMcnuggets maybe some rapping with vanill...
22,1525985,positive,2176957826,Mon Jun 15 05:08:30 PDT 2009,NO_QUERY,wardverstraete,is cutting some trees to improve spectator qua...
4312,299298,negative,1997968820,Mon Jun 01 17:46:13 PDT 2009,NO_QUERY,kristianmilton,feeling sick had to go home
4660,1589342,positive,2191221375,Tue Jun 16 04:48:10 PDT 2009,NO_QUERY,tormel,@forsund Congratulations!
4540,1459334,positive,2063744201,Sun Jun 07 03:54:23 PDT 2009,NO_QUERY,DavidJohnRees,@feblub All good here! Stuck in work all day ...

In [5]:
# a look inside the csv, it's balanced!
df["polarity"].value_counts()

positive    2542
negative    2458
Name: polarity, dtype: int64

In [15]:
#let's create the variables
#texts:tweets texts
texts = df["tweet"]
texts

0       Tired, grumpy and unsure what my priorities ar...
1       Way to go dad! You're gonna be a dad for the b...
2       completely broke but enjoying myself at the mo...
3                                         House season 1
4                        @ Blizzfm thanks uda follow yaa
5       @KhoreoKat Do you trust newspaper people?  Not...
6       @Linny_Buck Hey Linny. I live in South Africa....
7       @A_BlueMidnight hey! u were able to get ur ipo...
8       @Ashley_89 you need another holiday already, h...
9       @Renee_d i hope all is okay  not being able to...
10      twitter u r sooooooooooooo boring even my inla...
11      @anna_black Haha! Best compliment I've had: &q...
12      @malu__ haven't spoke Marielle for a lon long ...
13      Kinda missed it here, but Happy Birthday Tetris!
14                       Got to see my bestftiend 2nite.
15      @ThisisDavina Hi!! Cannot wait till BB starts ...
16      http://twitpic.com/6uttq - In the beach I love...
17                         @EmbryC  We'll miss you Embry
18                                   @shamim86 come back
19                                         time for work
20      Goodnight to an amazing day. Minus the fact th...
21      @Makenzesgranna Why can't the rain only wet th...
22      is cutting some trees to improve spectator qua...
23      @heynadine hey hey, i really hope you enter me...
24                   @thelele lucky! Its sooo hawt heyah
25      Don't wanna go out. Hoping plans get cancelled...
26      i just saw something that  really walla walla ...
27      life got me restless. i guess its all about th...
28      @JillianMichaels Hi! I`m buying a fitness-game...
29      @MrsPinkyIvory ; aww pinky  I'll keep you in m...
                              ...
4970    @TwinkleTessa theyre not coming  they were her...
4971    @epiphanygirl  lol check u out... superstar st...
4972    were driving by Wonderland right now! makes me...
4973    Trying to get a root folder name with #Nintex ...
4974    @aisle4Records yeh i spose we have big day out...
4975     last monday of junior year! last week of school
4976    waiting for my mother to wake her ass up , so ...
4977    @jpcashcash aww i hope you feel better  &lt;33...
4978    @rpartain @josh909 @DDsD @craigthomler Thanks ...
4979    @BabyKayCee I've known people who have managed...
4980                                    Back to VA today
4981                 @Ellen_Stafford You need an oreck  x
4982             i can't breatheee... i hate being sick!
4983                 @LittleMissHaya awekay kewl. thanx.
4984      I only have 2 more seasons of X-Files to watch
4985    #squarespace has yet to give me my free iPhone...
4986    is about to take his first shower in 2 days  t...
4987    @ oh yeah then we can hang out!! i been busy l...
4988    @JoeJonas1Fan1 i love fly with me  especially ...
4989    @a10tionadiq lol mybad  i had PJ's on when i f...
4990    Adrian askew the General Secretary is retiring...
4991    Just made friends with the metal detector dude...
4992    @oliverpayne Pretty much the same as us randy ...
4993                           The week is finally over!
4994    @alwayscoffee With this economy, I imagine onl...
4995    mwahaha! today should be a good day, i have st...
4996    Twitter withdraw finally over.. Welcome back t...
4997    @radioactive_ Aha no problem,  thanks for foll...
4998    @ImaginaryDuck save me minh  i seriously dread...
4999                             missin my baby in texas
Name: tweet, Length: 5000, dtype: object

In [16]:
#y:polarity of tweets
y = df["polarity"]
y

0       negative
1       positive
2       positive
3       positive
4       positive
5       positive
6       positive
7       positive
8       negative
9       positive
10      negative
11      negative
12      negative
13      positive
14      positive
15      positive
16      positive
17      negative
18      negative
19      positive
20      negative
21      positive
22      positive
23      positive
24      negative
25      negative
26      negative
27      negative
28      positive
29      negative
          ...
4970    negative
4971    positive
4972    negative
4973    positive
4974    negative
4975    positive
4976    positive
4977    negative
4978    positive
4979    positive
4980    negative
4981    positive
4982    negative
4983    positive
4984    negative
4985    negative
4986    positive
4987    positive
4988    positive
4989    negative
4990    negative
4991    positive
4992    positive
4993    positive
4994    negative
4995    positive
4996    negative
4997    positive
4998    negative
4999    negative
Name: polarity, Length: 5000, dtype: object

In [17]:
# Now we are going to vectorize the tweets, bcs for the model we need  numeric array and not texts
#first we crate the vectorizator that will create an index of all the words inside the tweets texts
vect = CountVectorizer()
vect.fit(texts)
#and now let's create the vectorizated tweets in the variable X
X =vect.transform(texts)
X[:3]
#we can see that this 3 texts are now arrays with 11619 elements with 3 element market as presented in the texts

<3x11619 sparse matrix of type '<class 'numpy.int64'>'
	with 42 stored elements in Compressed Sparse Row format>

In [18]:
#let's see them in extension
X[:3].todense()

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [22]:
#Now let's set the validation, so we will divide the dataset in 2: the train and the test
X_train, X_test, y_train, y_test = train_test_split(X, y)
#we can check the size of the train
X_train.shape, X_test.shape

((3750, 11619), (1250, 11619))

In [23]:
#let's create the model
model = LogisticRegression()

In [25]:
model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [27]:
#now let's do to the model the imput for input an output and let's train him
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [29]:
#let's see the prediction and accuracy
p_train = model.predict(X_train)
p_test = model.predict(X_test)
p_test, p_train

(array(['negative', 'negative', 'positive', ..., 'negative', 'positive',
        'positive'], dtype=object),
 array(['positive', 'negative', 'positive', ..., 'negative', 'positive',
        'negative'], dtype=object))

In [30]:
acc_train = accuracy_score(y_train, p_train)
acc_test = accuracy_score(y_test, p_test)

In [33]:
#the accuracy of the train will be really high bcs ofc is the train, so the model will "copy" and not really learn
acc_train

0.96933333333333338

In [34]:
#the accuracy of the test instead is the real accuracy of the model
acc_test

0.68799999999999994

In [36]:
#now let's test the model with random text from the Donald trump account
new_texts_Donald = {
    "Twitter is doing nothing about all of the lies & propaganda being put out by China or the Radical Left Democrat Party. They have targeted Republicans, Conservatives & the President of the United States. Section 230 should be revoked by Congress. Until then, it will be regulated!",
    "I can’t stand back & watch this happen to a great American City, Minneapolis. A total lack of leadership. Either the very weak Radical Left Mayor, Jacob Frey, get his act together and bring the City under control, or I will send in the National Guard & get the job done right"
}

In [38]:
#let's vectorize them
new_X = vect.transform(new_texts_Donald)
new_X

<2x11619 sparse matrix of type '<class 'numpy.int64'>'
	with 63 stored elements in Compressed Sparse Row format>

In [39]:
#let's see if they are positive or negative
model.predict(new_X)

array(['negative', 'positive'], dtype=object)

In [41]:
#we can also see what is the probability of the prediction of the 2 new tweets
model.predict_proba(new_X)

array([[ 0.53985553,  0.46014447],
       [ 0.03206155,  0.96793845]])

In [42]:
#the number on the right are de % of positivness and on the left of negativness

In [45]:
#we can see the positivnees or negativvness of all the words in the model
vect.get_feature_names()[10000:10020]

['tashadoe',
 'tasking',
 'tasks',
 'taste',
 'tastes',
 'tasty',
 'tat',
 'tate',
 'tatoo',
 'tattoo',
 'tattooed',
 'tattoos',
 'taught',
 'tax',
 'taxi',
 'taxpayers',
 'taylor',
 'taylormoll',
 'taylorswift13',
 'tb']

In [ ]:
model.coeff